# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# images files
*.png
*.jpg
*.JPEG
*.PNG
*.jpeg

# models
*.h5
*.pkl
*.keras

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
